
/* Add subtle load-in animation for content on the home page */
.header__title {
    -webkit-animation: fade-in-down 0.6s;
    animation: fade-in-down 0.6s both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.header__description {
    -webkit-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s both;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
