.author {
    text-align: center;

    @media ($screen-sm) {
        text-align: left;
        display: flex;
    }

    a {
        box-shadow: none;
        color: lighten($brand-primary, 10%);

        &:hover,
        &:focus {
            color: $body-bg;
        }
    }


    &.author--profile {
        @extend .text-center;
        background: $gray-darker;
        padding-bottom: $spacer * 4;
    }
}

.author__image {
    position: relative;
    z-index: 2;
    display: block;

    .img {
        margin: auto;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-size: cover;
        background-position: center center;
        box-shadow: none;
        background-color: $gray;
        border: 3px solid $gray;

        @media ($screen-sm) {
            margin-right: $spacer * 2;
        }
    }

    .author--profile & {
        .img {
            margin: -60px auto 0 auto;
            width: 120px;
            height: 120px;
        }
    }

    &.author__image--small {
        .img {
            width: 2.5rem;
            height: 2.5rem;
            border-width: 2px;
            margin-right: $spacer / 2;
            margin-top: -.75rem;
            vertical-align: middle;
        }
    }
}



.author__info {

}

.author__info__name {
    @extend .h4;

    .author--profile & {
        @extend .h3;
    }

    @media ($screen-sm) {
        margin-top: 0;

        .author--profile & {
            margin-top:  $spacer;
        }
    }
}

.author__bio {
    margin-bottom: $spacer;
    color: $gray-light;
}

.author__info__meta {
    .social-link {
        padding: 0 .4rem;

        .icon {
            width: 1rem;
            height: 1rem;
        }
    }
}

// Turn off meta for page2+ to make room for extra pagination prev/next links
.paged .author--profile .author__info__meta {
    display: none;
}
