button {
    @extend .btn;
}

textarea, select, input {
    @extend .form-control;
}

.row:not(.row--wide):not(.row--narrow) {
    max-width: 40em;
}

img {
    @extend .img--responsive;
}

hr {
    border: none;
    height: 2px;
    background: $gray;
    margin: ($spacer * 4) auto;
    width: 30%;
}

blockquote {
    color: $gray-light;
    border-left-color: $gray-light;
}

.header {
    height: 65vh;
    min-height: 320px;

    > .row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 81%;
    }
}

.header__title {
    padding: 0;
    font-size: $font-size-h1 * 1.2;
}

.header__description {
    @extend .h3;
    margin-top: $spacer;
    text-align: center;
}

.menu--main {
    .menu__logo {
        display: flex;
        align-items: center;

        svg {
            margin: 0;
            display: inline-block;
            border-right: 1px solid $gray-lightest;
            padding-right: $spacer / 2;
            margin-right: $spacer / 2.5;
        }
    }

    .menu__logo__blog {
        display: inline-block;
        font-size: 1.5rem;
            margin-bottom: -.5rem;
    }
}
