// Keep images centered, and allow images wider than the main text column to break out.
.post-content img {
    display: block;
    max-width: 126%;
    height: auto;
    padding: 0.6em 0;
    // Centers an image by (1) pushing its left edge to the
    // center of its container and (2) shifting the entire image
    // in the opposite direction by half its own width.
    // Works for images that are larger than their containers.
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

// class added via js to handle image captions
.image {
    img {}
    figcaption {
        @extend .small, .text-dimmed;
    }
}
