.color-overlay, .background--photo, .header, .read-next-story, .read-next-story:hover, .read-next-story:focus, .post-teaser {
  position: relative; }
  .color-overlay:before, .background--photo:before, .header:before, .read-next-story:before, .read-next-story:hover:before, .read-next-story:focus:before, .post-teaser:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom right, #B581CF 0%, #B581CF 10%, #54C695 70%);
    opacity: .7;
    z-index: 0; }
  .color-overlay .row, .background--photo .row, .header .row, .read-next-story .row, .post-teaser .row {
    z-index: 1; }

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Regular"), url("/assets/fonts/NotoSans-Regular.woff2") format("woff2"), url("/assets/fonts/NotoSans-Regular.woff") format("woff"), url("/assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }
  @media (min-width: 85em) {
    html {
      font-size: 18px; } }

body {
  margin: 0;
  font-family: "Avenir Next", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e8ebef;
  background-color: #445261;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern'; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 #54C695; }
  a:hover, a:focus {
    color: #fff;
    background: rgba(84, 198, 149, 0.8);
    outline: 0; }

h1, h2, h3, h4, h5, h6,
.h1,
.post-title, .h2, .h3, .author--profile .author__info__name, .h4, .author__info__name, .h5, .h6 {
  font-family: "Noto Sans", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #BFE6EC;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 1; }

h1, .h1, .post-title,
h2, .h2,
h3, .h3, .author--profile .author__info__name {
  margin-top: 2rem;
  margin-bottom: 1rem; }

h4, .h4, .author__info__name,
h5, .h5,
h6, .h6 {
  color: #acb8c5;
  margin-top: 1rem;
  margin-bottom: 0.5rem; }

h1, .h1, .post-title {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3, .author--profile .author__info__name {
  font-size: 1.5rem; }

h4, .h4, .author__info__name {
  font-size: 1.2rem; }

h5, .h5 {
  font-size: 1rem; }

h6, .h6 {
  font-size: 0.85rem; }

p {
  margin: 0 0 1rem; }

small,
.small,
cite,
.menu__link,
.footer__copyright,
.footer__copyright small,
.footer__copyright .menu__link,
.post-tags,
.post-date,
.post-meta .author {
  font-size: 0.8rem;
  font-weight: 400; }

.mini {
  font-size: 0.65rem;
  font-weight: 400; }

.large {
  font-size: 125%; }

strong,
.strong,
.bold,
cite {
  font-weight: 600; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .author.author--profile, .post-share {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-dimmed {
  color: #acb8c5; }

.lead {
  font-size: 1.25rem;
  color: #BFE6EC;
  line-height: 1.33333; }

ul,
ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem; }
  ul li,
  ol li {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0.5rem;
    margin-bottom: 0; }

ul li {
  list-style-type: circle; }

.list-unstyled, .parsley-errors-list {
  padding-left: 0;
  margin: 0; }
  .list-unstyled li, .parsley-errors-list li {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0; }

.list-inline {
  padding-left: 0;
  margin: 0;
  margin-left: -5px; }
  .list-inline li {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

blockquote {
  border-left: 3px solid #cad2da;
  margin-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  color: #70859B;
  font-style: italic; }
  blockquote p:last-child,
  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0; }

cite {
  font-style: italic; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: 1.5; }

.trademark {
  top: -.45em;
  left: -.15em;
  margin-right: -.2em;
  opacity: .6;
  font-family: inherit;
  font-size: 60%; }

::-moz-selection {
  color: #fff;
  background: #074354; }

::selection {
  color: #fff;
  background: #074354; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.grid__col {
  flex: 1;
  min-height: 0;
  min-width: 0; }

.row {
  max-width: 50em;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 40em) {
    .row {
      padding-left: 2rem;
      padding-right: 2rem; } }

.row--wide {
  max-width: 70rem; }

.row--narrow {
  max-width: 28.57143em; }

.grid--top {
  align-items: flex-start; }

.grid--bottom {
  align-items: flex-end; }

.grid--center {
  align-items: center; }

.grid--justifycenter {
  justify-content: center; }

.grid__col--top {
  align-self: flex-start; }

.grid__col--bottom {
  align-self: flex-end; }

.grid__col--center {
  align-self: center; }

.grid--gutters {
  margin: -2rem 0 2rem -2rem; }
  .grid--gutters > .grid__col {
    padding: 2rem 0 0 2rem; }

@media (min-width: 40em) {
  .grid-small--gutters {
    margin: -2rem 0 2rem -2rem; }
    .grid-small--gutters > .grid__col {
      padding: 2rem 0 0 2rem; } }
@media (min-width: 50em) {
  .grid-medium--gutters {
    margin: -2rem 0 2rem -2rem; }
    .grid-medium--gutters > .grid__col {
      padding: 2rem 0 0 2rem; } }
@media (min-width: 85em) {
  .grid-large--gutters {
    margin: -2rem 0 2rem -2rem; }
    .grid-large--gutters > .grid__col {
      padding: 2rem 0 0 2rem; } }
.grid--fit > .grid__col {
  flex: 1; }

.grid--full > .grid__col {
  flex: 0 0 100%; }

.grid--third > .grid__col {
  flex: 0 0 33.3%; }

.grid--half > .grid__col {
  flex: 0 0 50%; }

.grid--columns > .grid__col.grid__col--1 {
  flex: 0 0 16%; }
.grid--columns > .grid__col.grid__col--2 {
  flex: 0 0 33.3%; }
.grid--columns > .grid__col.grid__col--3 {
  flex: 0 0 50%; }
.grid--columns > .grid__col.grid__col--4 {
  flex: 0 0 66.6%; }
.grid--columns > .grid__col.grid__col--5 {
  flex: 0 0 84%; }
.grid--columns > .grid__col.grid__col--6 {
  flex: 0 0 100%; }

@media (min-width: 40em) {
  .grid-small--columns > .grid__col.grid__col--1 {
    flex: 0 0 16%; }
  .grid-small--columns > .grid__col.grid__col--2 {
    flex: 0 0 33.3%; }
  .grid-small--columns > .grid__col.grid__col--3 {
    flex: 0 0 50%; }
  .grid-small--columns > .grid__col.grid__col--4 {
    flex: 0 0 66.6%; }
  .grid-small--columns > .grid__col.grid__col--5 {
    flex: 0 0 84%; }
  .grid-small--columns > .grid__col.grid__col--6 {
    flex: 0 0 100%; }

  .grid-small--fit > .grid__col {
    flex: 1; }

  .grid-small--full > .grid__col {
    flex: 0 0 100%; }

  .grid-small--third > .grid__col {
    flex: 0 0 33.3%; }

  .grid-small--half > .grid__col {
    flex: 0 0 50%; } }
@media (min-width: 50em) {
  .grid-medium--columns > .grid__col.grid__col--1 {
    flex: 0 0 16%; }
  .grid-medium--columns > .grid__col.grid__col--2 {
    flex: 0 0 33.3%; }
  .grid-medium--columns > .grid__col.grid__col--3 {
    flex: 0 0 50%; }
  .grid-medium--columns > .grid__col.grid__col--4 {
    flex: 0 0 66.6%; }
  .grid-medium--columns > .grid__col.grid__col--5 {
    flex: 0 0 84%; }
  .grid-medium--columns > .grid__col.grid__col--6 {
    flex: 0 0 100%; }

  .grid-medium--fit > .grid__col {
    flex: 1; }

  .grid-medium--full > .grid__col {
    flex: 0 0 100%; }

  .grid-medium--third > .grid__col {
    flex: 0 0 33.3%; }

  .grid-medium--half > .grid__col {
    flex: 0 0 50%; } }
@media (min-width: 85em) {
  .grid-large--columns > .grid__col.grid__col--1 {
    flex: 0 0 16%; }
  .grid-large--columns > .grid__col.grid__col--2 {
    flex: 0 0 33.3%; }
  .grid-large--columns > .grid__col.grid__col--3 {
    flex: 0 0 50%; }
  .grid-large--columns > .grid__col.grid__col--4 {
    flex: 0 0 66.6%; }
  .grid-large--columns > .grid__col.grid__col--5 {
    flex: 0 0 84%; }
  .grid-large--columns > .grid__col.grid__col--6 {
    flex: 0 0 100%; }

  .grid-large--fit > .grid__col {
    flex: 1; }

  .grid-large--full > .grid__col {
    flex: 0 0 100%; }

  .grid-large--third > .grid__col {
    flex: 0 0 33.3%; }

  .grid-large--half > .grid__col {
    flex: 0 0 50%; } }
.btn, button, .read-next-story .post:before {
  display: inline-block;
  font-family: "Noto Sans", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: none;
  box-shadow: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.15rem; }
  .btn:hover, button:hover, .read-next-story .post:hover:before, .btn:focus, button:focus, .read-next-story .post:focus:before {
    box-shadow: 0 1px 4px rgba(16, 26, 37, 0.4);
    transform: translateY(-1px); }
  .btn:active, button:active, .read-next-story .post:active:before, .btn.active, button.active, .read-next-story .active.post:before {
    background-image: none;
    outline: 0;
    transform: translateY(0);
    box-shadow: 0 1px 2px rgba(16, 26, 37, 0.3); }
  .btn.disabled, button.disabled, .read-next-story .disabled.post:before, .btn:disabled, button:disabled, .read-next-story .post:disabled:before {
    opacity: 0.45;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none; }
  .btn .icon, button .icon, .read-next-story .post:before .icon {
    width: 1rem;
    height: 1rem;
    margin-right: .25rem;
    margin-bottom: -1px; }

a.btn.disabled, .read-next-story a.disabled.post:before,
fieldset[disabled] a.btn,
fieldset[disabled] .read-next-story a.post:before,
.read-next-story fieldset[disabled] a.post:before {
  pointer-events: none; }

.btn-primary {
  color: #fff !important;
  background: #54C695; }
  .btn-primary:hover, .btn-primary:focus {
    color: #fff !important;
    background-color: #67cca1; }
  .btn-primary:active {
    color: #fff !important;
    background: #4cc390;
    transition: none; }
  .btn-primary.disabled:focus, .btn-primary:disabled:focus {
    background-color: #54C695; }
  .btn-primary .icon {
    fill: #fff; }

.btn-secondary {
  color: #fff !important;
  background: #70859B; }
  .btn-secondary:hover, .btn-secondary:focus {
    color: #fff !important;
    background-color: #7f92a5; }
  .btn-secondary:active {
    color: #fff !important;
    background: #6a8097;
    transition: none; }
  .btn-secondary.disabled:focus, .btn-secondary:disabled:focus {
    background-color: #70859B; }
  .btn-secondary .icon {
    fill: #fff; }

.btn-blue {
  color: #fff !important;
  background: #074354; }
  .btn-blue:hover, .btn-blue:focus {
    color: #fff !important;
    background-color: #09566c; }
  .btn-blue:active {
    color: #fff !important;
    background: #063b4b;
    transition: none; }
  .btn-blue.disabled:focus, .btn-blue:disabled:focus {
    background-color: #074354; }
  .btn-blue .icon {
    fill: #fff; }

.btn-violet {
  color: #fff !important;
  background: #B581CF; }
  .btn-violet:hover, .btn-violet:focus {
    color: #fff !important;
    background-color: #c093d6; }
  .btn-violet:active {
    color: #fff !important;
    background: #b17acc;
    transition: none; }
  .btn-violet.disabled:focus, .btn-violet:disabled:focus {
    background-color: #B581CF; }
  .btn-violet .icon {
    fill: #fff; }

.btn-info {
  color: #fff !important;
  background: #3E91CE; }
  .btn-info:hover, .btn-info:focus {
    color: #fff !important;
    background-color: #529dd3; }
  .btn-info:active {
    color: #fff !important;
    background: #368ccc;
    transition: none; }
  .btn-info.disabled:focus, .btn-info:disabled:focus {
    background-color: #3E91CE; }
  .btn-info .icon {
    fill: #fff; }

.btn-success {
  color: #fff !important;
  background: #388250; }
  .btn-success:hover, .btn-success:focus {
    color: #fff !important;
    background-color: #40945b; }
  .btn-success:active {
    color: #fff !important;
    background: #357b4c;
    transition: none; }
  .btn-success.disabled:focus, .btn-success:disabled:focus {
    background-color: #388250; }
  .btn-success .icon {
    fill: #fff; }

.btn-warning {
  color: #fff !important;
  background: #8E8E24; }
  .btn-warning:hover, .btn-warning:focus {
    color: #fff !important;
    background-color: #a2a229; }
  .btn-warning:active {
    color: #fff !important;
    background: #868622;
    transition: none; }
  .btn-warning.disabled:focus, .btn-warning:disabled:focus {
    background-color: #8E8E24; }
  .btn-warning .icon {
    fill: #fff; }

.btn-danger {
  color: #fff !important;
  background: #c9726a; }
  .btn-danger:hover, .btn-danger:focus {
    color: #fff !important;
    background-color: #d0847d; }
  .btn-danger:active {
    color: #fff !important;
    background: #c66b63;
    transition: none; }
  .btn-danger.disabled:focus, .btn-danger:disabled:focus {
    background-color: #c9726a; }
  .btn-danger .icon {
    fill: #fff; }

.btn-link, .read-next-story .post:before {
  font-weight: normal;
  color: inherit;
  border-radius: 0; }
  .btn-link, .read-next-story .post:before, .btn-link:active, .read-next-story .post:active:before, .btn-link.active, .read-next-story .active.post:before, .btn-link:disabled, .read-next-story .post:disabled:before {
    background-color: transparent;
    box-shadow: none; }
  .btn-link, .read-next-story .post:before, .btn-link:hover, .read-next-story .post:hover:before, .btn-link:focus, .read-next-story .post:focus:before, .btn-link:active, .read-next-story .post:active:before {
    border-color: transparent;
    box-shadow: none;
    background: none; }

.btn-lg {
  padding: 1rem 3rem;
  font-size: 1.25rem;
  line-height: 1.33333;
  border-radius: 0.2rem; }
  .btn-lg .icon {
    width: 1.25rem;
    height: 1.25rem; }

.btn-sm {
  padding: 0.4rem 1.25rem;
  font-size: 0.8rem;
  line-height: 1.3;
  border-radius: 0.1rem; }
  .btn-sm .icon {
    width: 0.8rem;
    height: 0.8rem; }

.btn-xs {
  padding: 0.15rem 0.75rem;
  font-size: 0.65rem;
  line-height: 1.2;
  border-radius: 0.05rem; }
  .btn-xs .icon {
    width: 0.65rem;
    height: 0.65rem; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

.logo {
  fill: #074354;
  color: #54C695;
  width: 300px;
  height: 30px;
  display: block; }

.logo--white {
  fill: #fff;
  color: #fff; }

.logo--white--green {
  fill: #fff;
  color: #54C695; }

.logo--sm {
  width: 120px;
  height: 25px; }

.logo--full {
  display: block;
  width: 100%;
  height: auto; }

.logo--dark {
  fill: #101A25; }

figure {
  margin: 0; }

.img--responsive, img {
  max-width: 100%;
  height: auto; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }
  .video-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

iframe {
  max-width: 100%; }

.iframe-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }
  .iframe-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.transition, a, .btn, button, .read-next-story .post:before, .form-control, textarea, select, input, .menu__logo svg, .logo-erdf, .icon--social, .post-teaser img, .read-next-story, .social-link,
.social-link .icon {
  transition: all .2s ease-in-out; }

.fade {
  transition: all .2s ease-in-out;
  opacity: 0; }
  .fade.in {
    opacity: 1; }

.animation-slide-in-from-bottom {
  animation: slide-in-from-bottom 0.7s cubic-bezier(0, 1.02, 0.32, 1.34); }
  .animation-slide-in-from-bottom.paused {
    animation-play-state: paused; }

@keyframes slide-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.form-control, textarea, select, input {
  display: block;
  width: 100%;
  appearance: none;
  padding: 0.5rem 0;
  font-family: "Avenir Next", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: #e8ebef;
  background: none;
  border: none;
  border-bottom: 2px solid #70859B;
  border-radius: 0; }
  .form-control:focus, textarea:focus, select:focus, input:focus {
    outline: 0;
    border-color: #acb8c5; }
  .form-control::placeholder, textarea::placeholder, select::placeholder, input::placeholder {
    color: #70859B;
    opacity: 1; }
  .form-control:disabled, textarea:disabled, select:disabled, input:disabled, .form-control[readonly], textarea[readonly], select[readonly], input[readonly] {
    background-color: #394552;
    opacity: 1; }
  .form-control:disabled, textarea:disabled, select:disabled, input:disabled {
    cursor: disabled; }
  .background--photo .form-control, .header .form-control, .read-next-story .form-control, .background--photo textarea, .header textarea, .read-next-story textarea, .read-next-story:hover textarea, .read-next-story:focus textarea, .background--photo select, .header select, .read-next-story select, .read-next-story:hover select, .read-next-story:focus select, .background--photo input, .header input, .read-next-story input, .read-next-story:hover input, .read-next-story:focus input {
    border-bottom-color: rgba(255, 255, 255, 0.5); }

.form-label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: 0;
  transition: .15s ease-out;
  user-select: none;
  cursor: text;
  font-family: "Avenir Next", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #70859B;
  transform-origin: left; }
  .background--photo .form-label, .header .form-label, .read-next-story .form-label {
    color: rgba(255, 255, 255, 0.5); }

.form-control:focus ~ .form-label, textarea:focus ~ .form-label, select:focus ~ .form-label, input:focus ~ .form-label, .form-control:valid:not(.is-empty) ~ .form-label, textarea:valid:not(.is-empty) ~ .form-label, select:valid:not(.is-empty) ~ .form-label, input:valid:not(.is-empty) ~ .form-label, .form-control:invalid:not(.is-empty) ~ .form-label, textarea:invalid:not(.is-empty) ~ .form-label, select:invalid:not(.is-empty) ~ .form-label, input:invalid:not(.is-empty) ~ .form-label, .form-control.parsley-success ~ .form-label, textarea.parsley-success ~ .form-label, select.parsley-success ~ .form-label, input.parsley-success ~ .form-label {
  transform: translate3d(0, -1.16667rem, 0) scale(0.7);
  color: #acb8c5; }

.form-group {
  margin-bottom: 1rem;
  position: relative;
  margin-top: 1rem; }
  .form-group:last-of-type .btn, .form-group:last-of-type button, .form-group:last-of-type .read-next-story .post:before, .read-next-story .form-group:last-of-type .post:before {
    margin-top: 1rem; }

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-bottom: 0.75rem; }
  .radio label,
  .checkbox label {
    padding-left: 1.25rem;
    margin-bottom: 0;
    cursor: pointer; }
    .radio label input:only-child,
    .checkbox label input:only-child {
      position: static; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-bottom: -0.25rem;
  margin-left: -1.25rem;
  margin-right: 0.25rem;
  -webkit-appearance: button;
  background: none;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.15rem;
  border: 2px solid #70859B;
  outline: none; }
  .radio input[type="radio"]:focus,
  .radio-inline input[type="radio"]:focus,
  .checkbox input[type="checkbox"]:focus,
  .checkbox-inline input[type="checkbox"]:focus {
    border-color: #acb8c5; }
  .radio input[type="radio"]:checked,
  .radio-inline input[type="radio"]:checked,
  .checkbox input[type="checkbox"]:checked,
  .checkbox-inline input[type="checkbox"]:checked {
    background: #54C695;
    border-color: #acb8c5; }

.radio input[type="radio"],
.radio-inline input[type="radio"] {
  border-radius: 50%; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -.25rem; }

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 1.25rem;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer; }

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 0.75rem; }

input[type="radio"]:disabled, input[type="radio"].disabled,
input[type="checkbox"]:disabled,
input[type="checkbox"].disabled {
  cursor: not-allowed; }

.radio-inline.disabled,
.checkbox-inline.disabled {
  cursor: not-allowed; }

.radio.disabled label,
.checkbox.disabled label {
  cursor: not-allowed; }

.form-control:valid:not(.is-empty), textarea:valid:not(.is-empty), select:valid:not(.is-empty), input:valid:not(.is-empty), .form-control:valid:not(.is-empty):focus, textarea:valid:not(.is-empty):focus, select:valid:not(.is-empty):focus, input:valid:not(.is-empty):focus, .form-control.parsley-success, textarea.parsley-success, select.parsley-success, input.parsley-success, .form-control.parsley-success:focus, textarea.parsley-success:focus, select.parsley-success:focus, input.parsley-success:focus {
  border-color: #388250; }
.form-control:invalid:not(.is-empty), textarea:invalid:not(.is-empty), select:invalid:not(.is-empty), input:invalid:not(.is-empty), .form-control:invalid:not(.is-empty):focus, textarea:invalid:not(.is-empty):focus, select:invalid:not(.is-empty):focus, input:invalid:not(.is-empty):focus, .form-control.parsley-error, textarea.parsley-error, select.parsley-error, input.parsley-error, .form-control.parsley-error:focus, textarea.parsley-error:focus, select.parsley-error:focus, input.parsley-error:focus {
  border-color: #c9726a;
  color: #c9726a; }

.form-group,
.input-group {
  position: relative; }

.parsley-errors-list {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem; }
  .parsley-errors-list,
  .parsley-errors-list li {
    color: #c9726a; }
  .parsley-errors-list.filled {
    animation: errors-list-show 0.2s cubic-bezier(0, 1.02, 0.32, 1.34) forwards; }

@keyframes errors-list-show {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(0, 1.05rem, 0); } }
.section, .post, .read-next-story {
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden; }
  .section:last-child, .post:last-child, .read-next-story:last-child {
    border-bottom: none; }
  .section .row, .post .row, .read-next-story .row {
    flex: 0 0 100%; }
  @media (min-width: 40em) {
    .section, .post, .read-next-story {
      padding-top: 6rem;
      padding-bottom: 6rem; } }

.section-header {
  margin-bottom: 4rem; }

.section-title,
.section-description {
  text-align: center; }
  @media (min-width: 40em) {
    .section-title,
    .section-description {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; } }

.section-title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 2rem; }
  .section-title:after {
    content: "";
    height: 1px;
    width: 5rem;
    display: block;
    margin: 2rem auto 0 auto;
    background: #70859B; }

.section-description {
  font-size: 1.25rem;
  line-height: 1.33333;
  margin-bottom: 0; }
  .section-description + .section-description {
    margin-top: 1rem; }

.section-actions {
  margin-top: 1rem; }
  .section-actions .btn, .section-actions button, .section-actions .read-next-story .post:before, .read-next-story .section-actions .post:before {
    margin-left: 5px;
    margin-right: 5px;
    min-width: 200px; }

.background--blue {
  background: #074354; }

.background--darker, .footer {
  background: #394552; }

.background--light {
  background: #e8ebef; }
  .background--light .section-title,
  .background--light p {
    color: #70859B; }

.background--gray {
  background: #70859B; }

.background--photo, .header, .read-next-story, .read-next-story:hover, .read-next-story:focus {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: url("../img/northern-lights-banner.jpg") no-repeat center center;
  background-size: cover; }
  .background--photo .row *, .header .row *, .read-next-story .row * {
    position: relative;
    z-index: 5; }
  .background--photo .section-title:after, .header .section-title:after, .read-next-story .section-title:after {
    background: rgba(191, 230, 236, 0.5); }
  .background--photo .section-title, .header .section-title, .read-next-story .section-title,
  .background--photo .section-description,
  .header .section-description,
  .read-next-story .section-description,
  .background--photo .header__title,
  .header .header__title,
  .read-next-story .header__title {
    color: #fff; }

.header__title {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0;
  padding: 6rem 0; }

.footer {
  border-top: 1px solid #70859B;
  color: #acb8c5;
  padding-bottom: 0; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body > .content {
    flex: 1; }

.menu {
  position: relative;
  z-index: 10;
  flex: 1; }
  .menu .grid__col {
    text-align: center; }
    @media (min-width: 50em) {
      .menu .grid__col {
        text-align: left; }
        .menu .grid__col:last-child {
          text-align: right; } }

.menu__link {
  display: inline-block;
  padding: 0.5rem;
  text-transform: uppercase;
  box-shadow: none;
  position: relative;
  line-height: 1; }
  @media (min-width: 50em) {
    .menu__link {
      padding: 2rem 1rem; } }
  .menu__link:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background: #fff;
    display: block;
    left: 50%;
    margin-left: -15px;
    bottom: 0;
    transform: scale(0);
    transform-origin: center;
    transition: transform .2s ease-out; }
    @media (min-width: 50em) {
      .menu__link:after {
        bottom: 1.5rem; } }
  .menu__link:hover, .menu__link:focus, .menu__link.active {
    background: transparent; }
    .menu__link:hover:after, .menu__link:focus:after, .menu__link.active:after {
      transform: scale(1); }

.menu__logo {
  display: block;
  box-shadow: none; }
  .menu__logo svg {
    opacity: .8;
    margin-left: auto;
    margin-right: auto; }
  .menu__logo:hover, .menu__logo:focus {
    background: transparent; }
    .menu__logo:hover svg, .menu__logo:focus svg {
      opacity: 1; }

.menu--main {
  background: rgba(16, 26, 37, 0.35);
  backdrop-filter: saturate(150%) blur(10px);
  border-bottom: 1px solid rgba(112, 133, 155, 0.9);
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .menu--main .menu__logo {
    margin-bottom: 0.5rem; }
    @media (min-width: 50em) {
      .menu--main .menu__logo {
        margin-bottom: 0; } }
  .menu--main .menu__link {
    color: #fff;
    opacity: .9; }
    .menu--main .menu__link:hover, .menu--main .menu__link:focus, .menu--main .menu__link.active {
      opacity: 1; }
  @media (min-width: 50em) {
    .menu--main {
      padding-top: 0;
      padding-bottom: 0; } }

.menu-overflow {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem; }
  .menu-overflow::-webkit-scrollbar {
    display: none; }
  @media (min-width: 50em) {
    .menu-overflow {
      margin: 0;
      padding: 0;
      white-space: normal;
      overflow: visible; } }

.menu--footer .grid__col:nth-child(2) {
  margin-top: 1rem; }
  @media (min-width: 40em) {
    .menu--footer .grid__col:nth-child(2) {
      margin-top: 0; } }
.menu--footer .menu__logo {
  margin-top: 0.33333rem;
  margin-bottom: 0; }
  @media (min-width: 40em) {
    .menu--footer .menu__logo svg {
      margin: 0; } }
.menu--footer .menu__link {
  padding: 0.5rem;
  color: #acb8c5; }
  @media (min-width: 40em) {
    .menu--footer .menu__link {
      display: block;
      text-align: left; } }
  .menu--footer .menu__link:after {
    display: none; }
  .menu--footer .menu__link:hover, .menu--footer .menu__link:focus, .menu--footer .menu__link.active {
    color: #54C695; }

.footer__copyright {
  border-top: 1px solid #445261;
  text-align: center;
  display: block;
  margin-top: 2rem;
  padding-top: 2rem; }
  @media (min-width: 50em) {
    .footer__copyright {
      padding-bottom: 2rem;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  .footer__copyright .menu__link {
    display: inline-block;
    text-transform: none; }
    @media (min-width: 50em) {
      .footer__copyright .menu__link {
        padding: 0 1rem; } }
    .footer__copyright .menu__link:first-child {
      margin-left: 0.5rem; }
    .footer__copyright .menu__link:last-child {
      padding-right: 0; }
  .footer__copyright,
  .footer__copyright small,
  .footer__copyright .menu__link {
    color: #70859B; }

.erdf {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  box-shadow: none;
  text-align: center; }
  @media (min-width: 50em) {
    .erdf {
      margin: 0; } }
  .erdf:hover, .erdf:focus {
    background: none; }
    .erdf:hover .logo-erdf, .erdf:focus .logo-erdf {
      fill: #54C695;
      color: #54C695; }

.logo-erdf {
  fill: #acb8c5;
  color: #acb8c5;
  width: 150px;
  height: 30px;
  display: inline-block; }

figure {
  margin: 0; }

.img--responsive, img {
  max-width: 100%;
  height: auto; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }
  .video-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

iframe {
  max-width: 100%; }

.iframe-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }
  .iframe-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.icon {
  fill: none;
  stroke: #54C695;
  color: #BFE6EC;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  width: 60px;
  height: 60px; }

.icon--social {
  width: 1rem;
  height: 1rem;
  stroke: none;
  fill: #e8ebef;
  margin-bottom: -2px; }
  .icon--social .icon--gitter {
    stroke: #e8ebef; }

.icon--sm {
  width: .5rem;
  height: .5rem; }

.row:not(.row--wide):not(.row--narrow) {
  max-width: 40em; }

hr {
  border: none;
  height: 2px;
  background: #70859B;
  margin: 4rem auto;
  width: 30%; }

blockquote {
  color: #acb8c5;
  border-left-color: #acb8c5; }

.header {
  height: 65vh;
  min-height: 320px; }
  .header > .row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 81%; }

.header__title {
  padding: 0; }

.menu--main .menu__logo {
  display: flex;
  align-items: center; }
  .menu--main .menu__logo svg {
    margin: 0;
    display: inline-block;
    border-right: 1px solid #e8ebef;
    padding-right: 0.5rem;
    margin-right: 0.4rem; }
.menu--main .menu__logo__blog {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: -.5rem; }

.post {
  position: relative;
  border-bottom: 1px solid #70859B;
  word-wrap: break-word; }
  .post-template .post, .page-template .post {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none; }

.post-header {
  margin-bottom: 1rem; }

.post-title {
  margin: 0; }
  .post-title a {
    box-shadow: none;
    color: #54C695; }
    .post-title a:hover, .post-title a:focus {
      color: #445261; }

.post-teaser {
  margin-bottom: 1rem;
  display: block;
  box-shadow: none;
  overflow: hidden;
  cursor: pointer; }
  .post-teaser img {
    display: block;
    position: relative;
    z-index: -1; }
  .post-teaser:hover, .post-teaser:focus {
    background: none; }
    .post-teaser:hover img, .post-teaser:focus img {
      transform: scale(1.03); }

.post-excerpt p:last-child {
  margin: 0; }

.post-meta {
  margin-top: 3rem;
  color: #acb8c5;
  text-align: center; }
  @media (min-width: 40em) {
    .post-meta {
      text-align: left;
      display: flex;
      justify-content: space-between; } }

.post-template .post-content, .page-template .post-content {
  margin-top: 4rem; }

/* Keep images centered, and allow images wider than the main
   text column to break out. */
.post-content img {
  display: block;
  max-width: 126%;
  height: auto;
  padding: 0.6em 0;
  /* Centers an image by (1) pushing its left edge to the
     center of its container and (2) shifting the entire image
     in the opposite direction by half its own width.
     Works for images that are larger than their containers. */
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  /* for Safari and iOS */
  transform: translateX(-50%); }

.post-footer {
  position: relative;
  margin-top: 4rem; }

/* Add subtle load-in animation for content on the home page */
.header__title {
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.header__description,
.author--profile .author__info {
  -webkit-animation: fade-in-down 0.9s;
  animation: fade-in-down 0.9s both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.author {
  text-align: center; }
  @media (min-width: 40em) {
    .author {
      text-align: left;
      display: flex; } }
  .author a {
    box-shadow: none;
    color: #7ad3ad; }
    .author a:hover, .author a:focus {
      color: #445261; }
  .author.author--profile {
    background: #394552;
    padding-bottom: 4rem; }

.author__image {
  position: relative;
  z-index: 2;
  display: block; }
  .author__image .img {
    margin: auto;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    box-shadow: none;
    background-color: #70859B;
    border: 3px solid #70859B; }
    @media (min-width: 40em) {
      .author__image .img {
        margin-right: 2rem; } }
  .author--profile .author__image .img {
    margin: -60px auto 0 auto;
    width: 120px;
    height: 120px; }
  .author__image.author__image--small .img {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 2px;
    margin-right: 0.5rem;
    margin-top: -.75rem;
    vertical-align: middle; }

@media (min-width: 40em) {
  .author__info__name {
    margin-top: 0; }
    .author--profile .author__info__name {
      margin-top: 1rem; } }

.author__bio {
  margin-bottom: 1rem;
  color: #acb8c5; }

.author__info__meta .social-link {
  padding: 0 .4rem; }
  .author__info__meta .social-link .icon {
    width: 1rem;
    height: 1rem; }

.paged .author--profile .author__info__meta {
  display: none; }

.read-next {
  margin-top: 4rem; }

.read-next-story {
  display: block;
  text-align: center;
  box-shadow: none; }
  .read-next-story:hover, .read-next-story:focus {
    background-size: 110%; }
  .read-next-story h2 {
    color: #fff; }
  .read-next-story p {
    margin: 0;
    color: rgba(255, 255, 255, 0.8); }

.read-next-story .post:before {
  content: "Read This Next"; }

.read-next-story.prev .post:before {
  content: "You Might Enjoy"; }

.read-next-story.no-cover {
  border-top: 1px solid #70859B; }
  .read-next-story.no-cover:before {
    display: none; }

/* The main wrapper for our pagination links */
.pagination {
  position: relative;
  margin: 4rem auto;
  color: #9EABB3;
  text-align: center; }

.pagination a {
  color: #9EABB3;
  transition: all 0.2s ease; }

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: #bfc8cd 1px solid;
  text-decoration: none;
  border-radius: 4px;
  transition: border 0.3s ease; }

.older-posts {
  right: 0; }

.page-number {
  display: inline-block;
  padding: 2px 0;
  min-width: 100px; }

.newer-posts {
  left: 0; }

.older-posts:hover,
.newer-posts:hover {
  color: #889093;
  border-color: #98a0a4; }

.extra-pagination {
  display: none;
  border-bottom: #EBF2F6 1px solid; }

.extra-pagination:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  border-radius: 100%;
  box-shadow: #FFF 0 0 0 5px; }

.extra-pagination .pagination {
  width: auto; }

/* On page2+ show extra pagination controls at the top of post list */
.paged .extra-pagination {
  display: block; }

.tag {
  background: #2f3943;
  display: inline-block;
  box-shadow: none;
  background: rgba(84, 198, 149, 0.3);
  color: #fff;
  padding-left: .35rem;
  padding-right: .35rem;
  border-radius: 0.15rem; }
  .tag:before {
    content: "#";
    opacity: .5;
    display: inline-block;
    margin-right: .1rem; }

.post-share {
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #394552; }

.post-share__title {
  margin-top: 0;
  margin-bottom: 2rem; }

.social-link {
  box-shadow: none;
  padding: 0.4rem 1.25rem; }
  .social-link:hover, .social-link:focus {
    background: none; }
    .social-link:hover .icon, .social-link:focus .icon {
      fill: #7ad3ad;
      filter: drop-shadow(0 1px 4px rgba(16, 26, 37, 0.4));
      transform: translateY(-1px); }
      .social-link:hover .icon.icon--gitter, .social-link:focus .icon.icon--gitter {
        stroke: #7ad3ad; }
  .social-link:active {
    outline: 0; }
    .social-link:active .icon {
      fill: #54C695;
      filter: drop-shadow(0 1px 2px rgba(16, 26, 37, 0.3));
      transform: translateY(0); }
  .social-link .icon {
    fill: #54C695;
    width: 1.5rem;
    height: 1.5rem; }
    .social-link .icon.icon--gitter {
      stroke: #54C695; }

/*# sourceMappingURL=bigchaindb-blog.css.map */
