<footer class="footer section" role="contentinfo">
    <div class="row row--wide">
        <nav class="menu menu--footer">
            <div class="grid grid--full grid-small--fit">

                <div class="grid__col">
                    <a class="menu__logo" href="https://www.bigchaindb.com/">
                        <svg class="logo logo--sm logo--white--green" aria-labelledby="title">
                            <title>BigchainDB</title>
                            <use xlink:href="{{asset "img/sprite.svg"}}#logo"></use>
                        </svg>
                    </a>
                </div>

                <div class="grid__col"> <a class="menu__link js-tracking-menu" href="https://www.bigchaindb.com/features/">How it works</a> <a class="menu__link js-tracking-menu" href="https://www.bigchaindb.com/whitepaper/">Whitepaper</a> <a class="menu__link js-tracking-menu" href="https://www.bigchaindb.com/community/">Community</a> <a class="menu__link js-tracking-menu"
                        href="https://docs.bigchaindb.com/" target="_blank">Docs</a> </div>
                <div class="grid__col"> <a class="menu__link js-tracking-menu" href="https://www.bigchaindb.com/about/">About</a> <a class="menu__link js-tracking-menu" href="https://www.bigchaindb.com/contact/">Contact</a> <a class="menu__link active js-tracking-menu" href="https://blog.bigchaindb.com" target="_blank">Blog</a> </div>
                <div class="list-unstyled grid__col"> <a class="menu__link js-tracking-menu" href="https://github.com/bigchaindb" target="_blank">GitHub</a> <a class="menu__link js-tracking-menu" href="https://twitter.com/BigchainDB" target="_blank">Twitter</a> <a class="menu__link js-tracking-menu"
                        href="https://gitter.im/bigchaindb/bigchaindb" target="_blank">Gitter</a> </div>
            </div>
            <div class="footer__copyright">
                <small>
                    &copy; {{date format="YYYY"}} BigchainDB GmbH

                    <a class="menu__link js-tracking-menu" href="https://www.bigchaindb.com/terms/">Terms</a> <a class="menu__link js-tracking-menu" href="https://www.bigchaindb.com/privacy/">Privacy</a> <a class="menu__link js-tracking-menu" href="https://www.bigchaindb.com/cla/">Contributor Agreement</a> <a class="menu__link js-tracking-menu" href="https://www.bigchaindb.com/imprint/">Imprint</a>
                </small>
                <a class="erdf" href="https://www.bigchaindb.com/erdf/" title="BigchainDB is partially supported by the European Regional Development Fund (ERDF)">
                    <svg class="logo logo-erdf" aria-labelledby="title">
                        <title>European Regional Development Fund (ERDF)</title>
                        <use xlink:href="{{asset "img/sprite.svg"}}#logo-erdf"></use>
                    </svg>
                </a>
            </div>
        </nav>
    </div>
</footer>
